/*--------------------------------------------------------------
	Forms
--------------------------------------------------------------*/
/* Selection */
::-moz-selection {
    background: #000;
    color: #fff;
  }
  
  ::-webkit-selection {
    background: #000;
    color: #fff;
  }
  
  ::selection {
    background: #000;
    color: #fff;
  }
  
  /* Forms common style */
  .form-control {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 14px;
    height: 33px;
    border: 1px solid #fbf8f8;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .form-control:focus {
    border-color: #BC944D;
    transition:ease-in;
  }
  
  .form-group input::placeholder{
    color: #818181;
  }
  .form-group textarea::placeholder{
    color: #818181;
  }
  
  .form-group label{
    color: #BC944D;
  }
  .form-group label select {
    color:#00062b;
  }

  .form-group select option{
    color:#00062b;
  }
  /* Style the labels as block-level elements with some spacing */
  .form-group .form-group label.radio-label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Style the radio buttons */
  .form-group .form-group input.radio[type="radio"] {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px !important; /* Adjust spacing between radio button and text */
    vertical-align: middle; /* Align the radio button vertically with the text */
    position: relative; /* Add relative positioning */
  }
  
  /* Style the text */
  .form-group .form-group label.radio-label {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically align items */
    color: #fff;
  }
  
  /* Style the radio buttons */
  .form-group input.checkbox[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px !important; /* Adjust spacing between radio button and text */
    vertical-align: middle; /* Align the radio button vertically with the text */
    position: relative; /* Add relative positioning */
  }
  .form-group p.check-p{
    display: block;
    margin-bottom: 10px;
    color:#fff
  }
  .custom-file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE 8 and earlier */
  }
  
  .custom-file-upload .file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BC944D;  
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .custom-file-upload .file-label:hover {
    color: #d9cdb9;
  }
  
  
  .custom-file-upload .file-info {
    display: none;
  }
  
  .custom-file-upload .file-info .file-name {
    margin-right: 10px;
    color: #fff;
  }
  
  .custom-file-upload .file-info .cancel-button {
    background-color: #780000; /* Customize the cancel button background color */
    color: #fff; /* Customize the cancel button text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  /* Style the country code dropdown */
  #country-code {
    width: 100px; /* Adjust the width as needed */
    border-radius: 5px; /* Add some border radius for a rounded appearance */
  }
  
  /* Style the input group container */
  .input-group {
    display: flex;
    align-items: center;
  }
  
  /* Style the flag images (adjust the paths accordingly) */
  .flag {
    width: 20px; /* Adjust the width as needed */
    margin-right: 5px; /* Add some spacing between the flag and input */
  }
  
  
  
  
  /* Forms size */
  .input-lg,
  .form-horizontal .form-group-lg .form-control {
    height: 43px;
    font-size: 13px;
  }
  
  .input-sm, .form-horizontal .form-group-sm .form-control {
    height: 29px;
    font-size: 10px;
  }
  
  .rqst-form {
    margin-top: 27px;
  }
  
  .rqst-form .btn {
    margin-top: 5px;
  }
  
  .input-group-addon {
    border: 1px solid #e4e4e4 !important;
  }
  
  /*--------------------------------------------------------------
      Typography
  --------------------------------------------------------------*/
  a {
    color: #00062b;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: #BC944D;
    outline: 0;
  }
  
  .bg-dark a {
    color: #BC944D;
  }
  
  .bg-dark a:hover, .bg-dark a:focus {
    color: #fff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 2;
    font-weight: 400;
  }
  
  p, ol, ul, blockquote {
    margin: 0 0 20px;
  }
  
  blockquote {
    border: 0;
    font-style: italic;
    font-size: 15px;
    padding: 0;
  }
  
  .font-alt {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .font-alt p {
    font-family: "Poppins", sans-serif;
    font-size:16px;
  }
  
  .font-serif {
    font-family: Volkhov, "Poppins", sans-serif;
    font-style: italic;
  }
  
  .large-text {
    font-size: 24px !important;
  }
  
  .rotate {
    text-shadow: none !important;
  }
  
  .module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #BC944D;
    margin: 0 0 30px;
  }
  
  @media (max-width: 768px) { /* Adjust the max-width as needed for your design */
    .module-title {
      font-size: 24px; /* Adjust the font size as needed */
    }
  }
  .module-subtitle {
    text-align: center;
    font-size: 16px;
    color: #BC944D;
    margin-bottom: 30px;
  }
  
  .module-icon {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .module-title + .module-subtitle {
    margin-top: -35px;
  }
  
  /* Restaurant module header */
  .alt-module-subtitle {
    display: table;
  }
  
  .alt-module-subtitle h5 {
    display: table-cell;
    white-space: pre;
    padding: 0 8px;
    color: #111;
  }
  
  /* Finance case study header */
  .finance-image-content {
    border: 1px solid #e5e5e5;
    padding: 60px 0px;
  }
  
  .finance-image-content .module-title {
    margin-bottom: 20px;
  }
  
  .finance-image-content .alt-features-item {
    margin-top: 40px;
  }
  
  /* Landing Page */
  .landing-reason .module-title {
    color: #e6af4b;
  }
  
  .landing-reason .module-title + .module-subtitle {
    margin-top: -60px;
    margin-bottom: 40px;
  }
  
  .free-trial {
    background-color: #00062b;
    color: #FFFFFF;
  }
  
  .free-trial .color-golden {
    color: #e6af4b;
  }
  
  /*  Special Portfolio Page  */
  .special-portfolio-header-title {
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 50px;
    padding: 40px 0px;
    letter-spacing: 8px;
  }
  
  /*--------------------------------------------------------------
      Slider & Carousel
  --------------------------------------------------------------*/
  /* -------------------------------------------------------------------
  General Styles - FlexSlider
  ------------------------------------------------------------------- */
  .flex-direction-nav a,
  .flex-control-nav > li > a {
    transition: all 0.3s ease-in-out 0s;
  }
  
  .flex-direction-nav a {
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    margin: 0;
  }
  
  .flex-direction-nav .flex-prev {
    opacity: 0;
    left: 0;
    cursor: url(../images/prev-light.png), e-resize;
  }
  
  .flex-direction-nav .flex-next {
    opacity: 0;
    right: 0;
    cursor: url(../images/next-light.png), e-resize;
  }
  
  .flex-control-nav {
    position: absolute;
    width: auto;
    left: 50%;
    bottom: 20px;
    z-index: 11;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .flex-control-nav > li {
    display: inline-block;
    margin: 5px 3px;
  }
  
  .flex-control-nav > li > a {
    background: transparent;
    border: 1px solid #fff;
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 6px;
  }
  
  .flex-control-nav > li > a:hover,
  .flex-control-nav > li > a.flex-active {
    background: #fff;
  }